// $item-logo-def-color: lightskyblue;
// $main-font-family: monospace;
// BACKGROUND START
$bg-bluegray: #dde4e9;
$bg-gray: #6c757d;
$bg-yellow: #ffc107;
$bg-blue: #4384f5;
$bg-lightblue: #0dcaf0;
$bg-red: #ff0000;
$bg-white: #f8f9fa;
$bg-black: #000000;
// BACKGROUND END

// COLOR START
$c-bluegray: #dde4e9;
$c-gray: #6c757d;
$c-yellow: #ffc107;
$c-blue: #4384f5;
$c-lightblue: #0dcaf0;
$c-green: #157347;
$c-red: #ff0000;
$c-white: #f8f9fa;
$c-black: #000000;
// COLOR END

// BUTTON START
// buttons bg start
$btn-bluegray: #dde4e9;
$btn-gray: #6c757d;
$btn-yellow: #fdc51e;
$btn-blue: #4384f5;
$btn-lightblue: #0dcaf0;
$btn-green: #157347;
$btn-red: #dc3545;
$btn-white: #f8f9fa;
$btn-black: #000000;
// buttons bg end

// hovers start
$btn-gray-hover: #5c636a;
$btn-yellow-hover: #eeb407;
$btn-blue-hover: #0b5ed7;
$btn-lightblue-hover: #31d2f2;
$btn-green-hover: #09884d;
$btn-red-hover: #bb2d3b;
$btn-white-hover: #e0e2e4;
// hovers end

// disabled start
$btn-gray-disabled: #eeeeee;
$btn-yellow-disabled: #eed37b;
$btn-blue-disabled: #8bb8fc;
$btn-lightblue-disabled: #13aac8;
$btn-green-disabled: #8ac9ab;
$btn-red-disabled: #c97981;
// $bg-white-disabled: #f8f9fa;
// disabled end
// BUTTON END
